- if conference.registration_open?
  - if conference.user_registered?(current_user)
    = link_to "My Registration", conference_conference_registration_path(conference.short_title), :class =>"btn btn-default"
- if !current_user.nil? && current_user.proposal_count(conference) > 0
  = link_to "My Proposals", conference_program_proposals_path(conference.short_title), :class =>"btn btn-default"
- elsif can? :new, conference.program.events.new
  - unless conference.ended?
    = link_to "Submit Proposal", new_conference_program_proposal_path(conference.short_title), :class =>"btn btn-default"
- if current_user.nil? || !current_user.subscribed?(conference)
  - unless conference.ended?
    = link_to 'Subscribe', conference_subscriptions_path(conference.short_title), method: :post, class: 'btn btn-default'
- else
  = link_to 'Unsubscribe', conference_subscriptions_path(conference.short_title), method: :delete, class: 'btn btn-default'
- if conference.program and conference.program.schedule_public
  = link_to "Schedule", conference_schedule_path(conference.short_title), :class =>"btn btn-default"
- if !@conference || @conference != conference
  - if conference.splashpage && conference.splashpage.public
    = link_to "View Conference", conference_path(conference.short_title), :class =>"btn btn-info"