= content_for :title do
  = @conference.title
= content_for :splash_base do
  - if @conference.splashpage
    #banner
      .container
        .row
          .col-md-8.col-md-offset-2#header
            .row
              .col-md-4
                = image_tag(@conference.picture_url, class: 'img-responsive img-center', id: 'splash-logo') if @conference.picture?
              .col-md-8
                %h1
                  = @conference.title
                %p.lead
                  - if @conference.venue
                    = "#{@conference.venue.city} / #{@conference.venue.country_name}"
                  - if @conference.start_date && @conference.end_date
                    %br
                    = date_string(@conference.start_date, @conference.end_date)

    - unless @conference.description.blank?
      %section#about
        .container
          .row
            .col-md-8.col-md-offset-2
              %h3.text-center
                = markdown(@conference.description)
    - if @conference.sponsors.any? and @conference.splashpage.include_sponsors
      %section#sponsors
        = render 'sponsors'

    - if @conference.registration_open? and @conference.splashpage.include_registrations
      %section#registration
        / = render 'registration'
        = render 'registration_eventbrite'

    - if @conference.splashpage.include_program
      %section#program
        = render 'schedule_splashpage'

    - if @conference.program.cfp_open? and @conference.splashpage.include_cfp
      %section#callforpapers
        = render 'call_for_paper'

    - if @conference.venue and @conference.splashpage.include_venue
      %section#venue
        = render 'venue'
        = render 'venue_extra'

    - if @conference.lodgings.any? and @conference.splashpage.include_lodgings
      %section#lodging
        = render 'lodging'

    - if @conference.tickets.any? and @conference.splashpage.include_tickets and @conference.pending?
      %section#tickets
        = render 'tickets'

    %section#policies
      = render 'policies'

    - if @conference.contact.has_social_media? and @conference.splashpage.include_social_media
      %section#social-media
        = render 'social_media'



#splash
  = yield :splash_base
  // grmbl
  = render 'footer'

- content_for :script_head do
  :javascript

    $(window).scroll(function () {
        handleTopNavAnimation();
      });

      $(window).load(function () {
          handleTopNavAnimation();
      });

    function handleTopNavAnimation() {
        var top = $(window).scrollTop();

        if (top > 50) {
            $('#site-nav').addClass('navbar-solid');
        }
        else {
            $('#site-nav').removeClass('navbar-solid');
        }
    }
    var triangle_tcs = tinycolor("#ffffff").monochromatic();
    var triangle_colors = triangle_tcs.map(function(t) { return t.toHexString(); });
    $(function () {
      $(document).ready(function() {
        var triangle_width = document.body.clientWidth;
        var triangle_height = ($( "#callforpapers" ).height() + 200 );
        var pattern = Trianglify({ width: triangle_width,
                                   height: triangle_height,
                                   cell_size: 100,
                                   x_colors: triangle_colors
                                  });
        $('#callforpapers').css('background-image', 'url("' + pattern.png() + '")');
      });
      $('#wrapper').countdown('#{@conference.registration_period.end_date.strftime}', function(event) {
        $('#reg-days').html(event.strftime('<h1>%D</h1> days'));
        $('#reg-hours').html(event.strftime('<h1>%H</h1> hours'));
        $('#reg-minutes').html(event.strftime('<h1>%M</h1> minutes'));
        $('#reg-seconds').html(event.strftime('<h1>%S</h1> seconds'));
      });

      $('.navbar-toggle').click(function(){
        var top = $(window).scrollTop();
        if(top <= 50) {
          $('#site-nav').toggleClass('navbar-solid');
        }
      });
    });

