- date_event_schedules = @event_schedules.select{ |e| e.start_time.to_date.eql? date }
.row
  - @rooms.each do |room|
    .col-md-1.col-xs-6.room-col
      .room-name
        - room_date_event_schedules = date_event_schedules.select{ |e| e.room == room }
        = room.name
      / generate slots from 9hr to 18hr (e.g. whole work day), multiply by 4 since 60/15=4 and 15min slots are default
      / actually we switched to 5 minutes slots thus the coefficient of 12
      - (9*12..18*12).each do |slot|
        - hour = slot / 12
        - minutes = (15 * (slot % 12) == 0) ? '00' : (5 * (slot % 12)).to_s.rjust(2, '0')
        - time = "#{hour}:#{minutes}"
        .schedule-room-slot{ id: "schedule-room-#{room.guid}-#{hour}-#{minutes}", |
                             room_id: room.id, |
                             hour: time, |
                             date: date}
          .div
            = time
          - event_schedules = room_date_event_schedules.select{ |e| (e.start_time.hour.to_s + e.start_time.strftime(':%M')).eql? time }
          - if event_schedules.any?
            - event_schedule = event_schedules.first
            = render partial: 'event', locals: { event: event_schedule.event, event_schedule_id: event_schedule.id}
